<strong>Olá, {{ provider }} </strong><br>
<p>Houve um cancelamento de horario, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ user }}</strong> <br>
  <strong>Data/Hora: </strong>{{ date }} <br><br>
  <small>
    O horario está disponivel para novos agendamentos!!
  </small>

</p>
